extends layout

block content

  .container-fluid.py-5.bg-dark.text-white-50
    h1.display-5.fw-bold  Deploy a Node.JS Application to Firebase
    p.col-md-8.fs-4
      | A tutorial on how to deploy a 
      a(href="https://nodejs.org/en/" target="_blank") node.js
      | application to 
      a(href="https://firebase.google.com/" target="_blank") Firebase
      | .  Secured by 
      a(href="https://www.okta.com/" target="_blank") Okta
      | .  Written by 
      a(href="https://profile.fishbowlllc.com/" target="_blank") Nik Fisher.
  p
    | This repository shows you how to use Okta in a Node.js application and how to deploy the application to Firebase. Please read 
    a(href='https://developer.okta.com/blog/2021/xyz') Deploy a NodeJs application to Firebase
    |  to see how it was created.
